body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    background-image: url("fonlr7.avif");
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mainContent{
    backdrop-filter: blur(5px);
    background-color:rgba(0, 0, 0, 0.563);
    border: 2px solid white;
    border-radius: 50px;
    height: 500px;
    width: 500px;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
#magicBall{
    height: 300px;
    width: 300px;
    background-color: black;
    border: 2px solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    transition: transform 0.3s;
}
#inputAsk{
    font-size: 30px;
}
.return{
    background-image: url("gameFon.avif");
    color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 50px;
    transition: all 0.3s ease;
    font-size: 30px;
    padding: 15px;
    cursor: pointer;
}
.return:hover{
    border: 2px solid green;
}
.return:active{
    border: 2px solid red;
}
